<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form [formGroup]="changePwdForm" (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Old Password</label>
                        <input type="password" formControlName="oldPassword" class="form-control" [ngClass]="{'is-invalid': (f.oldPassword.dirty || f.oldPassword.touched) && f.oldPassword.errors}"/>
                        <div *ngIf="(f.oldPassword.dirty || f.oldPassword.touched) && f.oldPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.oldPassword.errors.required">Old Password is required</div>
                        </div>
                    </div> 

                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" formControlName="newPassword" class="form-control" [ngClass]="{'is-invalid': (f.newPassword.dirty || f.newPassword.touched) && f.newPassword.errors}"/>
                        <div *ngIf="(f.newPassword.dirty || f.newPassword.touched) && f.newPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.newPassword.errors.required">New password is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>